language: minimal

services: docker

env:
  - DOCKER_COMPOSE_VERSION=1.23.2

jobs:
  include:
    - stage: build
      if: tag IS present
      before_install:
        - docker -v && docker-compose -v
        - sudo rm /usr/local/bin/docker-compose
        - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
        - chmod +x docker-compose
        - sudo mv docker-compose /usr/local/bin
        - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
        - chmod +x ./kubectl
        - sudo mv ./kubectl /usr/local/bin/kubectl
      install:
        - docker-compose -f docker-compose-build.yaml build --parallel
        - docker login -u "$REGISTRY_USERNAME" -p "$REGISTRY_PASSWORD"
        # Tagging and pushing reverseproxy
        - docker tag samuelmbas/reverseproxy samuelmbas/reverseproxy:latest
        - docker tag samuelmbas/reverseproxy "samuelmbas/reverseproxy:${TRAVIS_TAG}"
        - docker push samuelmbas/reverseproxy:latest
        - docker push "samuelmbas/reverseproxy:${TRAVIS_TAG}"
        # Tagging and pushing restapi-user
        - docker tag samuelmbas/udacity-restapi-user samuelmbas/udacity-restapi-user:latest
        - docker tag samuelmbas/udacity-restapi-user "samuelmbas/udacity-restapi-user:${TRAVIS_TAG}"
        - docker push samuelmbas/udacity-restapi-user:latest
        - docker push "samuelmbas/udacity-restapi-user:${TRAVIS_TAG}"
        # Tagging and pushing restapi-feed
        - docker tag samuelmbas/udacity-restapi-feed samuelmbas/udacity-restapi-feed:latest
        - docker tag samuelmbas/udacity-restapi-feed "samuelmbas/udacity-restapi-feed:${TRAVIS_TAG}"
        - docker push samuelmbas/udacity-restapi-feed:latest
        - docker push "samuelmbas/udacity-restapi-feed:${TRAVIS_TAG}"
        # Tagging and pushing frontend
        - docker tag samuelmbas/udacity-frontend samuelmbas/udacity-frontend:latest
        - docker tag samuelmbas/udacity-frontend "samuelmbas/udacity-frontend:${TRAVIS_TAG}"
        - docker push samuelmbas/udacity-frontend:latest
        - docker push "samuelmbas/udacity-frontend:${TRAVIS_TAG}"
    - stage: deploy
      # if: tag IS present
      before_script:
        - curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
        - chmod +x ./kubectl
        - sudo mv ./kubectl /usr/local/bin/kubectl
        - echo $KUBEFILE | base64 -d > KUBECONFIG.yaml
        - cat KUBECONFIG.yaml
        - export KUBECONFIG=$PWD/KUBECONFIG.yaml
        - echo $CONFIGMAP_FILE | base64 -d > configmap.properties
        - cat configmap.properties
        - echo $SECRET_FILE | base64 > secret.properties
        - cat secret.properties
      script:
        # Deploy Frontend
        - kubectl apply -f udacity-c3-frontend/k8s/service.yaml
        - kubectl apply -f udacity-c3-frontend/k8s/deployment.yaml
        # Deploy REST API Feed
        - cat udacity-c3-restapi-feed/k8s/configmap.yaml | sed "s/{{AWS_REGION}}/$AWS_REGION/g; s/{{AWS_PROFILE}}/$AWS_PROFILE/g; s/{{AWS_BUCKET}}/$AWS_BUCKET/g" | kubectl apply -f -
        - cat udacity-c3-restapi-feed/k8s/secret.yaml | sed "s/{{POSTGRES_USERNAME}}/'$POSTGRES_USERNAME'/g; s/{{POSTGRES_PASSWORD}}/'$POSTGRES_PASSWORD'/g; s/{{POSTGRES_DB}}/'$POSTGRES_DB'/g; s/{{POSTGRES_HOST}}/'$POSTGRES_HOST'/g; s/{{AWS_ACCESS_KEY_ID}}/'$AWS_ACCESS_KEY_ID'/g; s#{{AWS_SECRET_ACCESS_KEY}}#'$AWS_SECRET_ACCESS_KEY'#g; s/{{JWT_SECRET}}/'$JWT_SECRET'/g" | kubectl apply -f -
        - kubectl apply -f udacity-c3-restapi-feed/k8s/service.yaml
        - kubectl apply -f udacity-c3-restapi-feed/k8s/deployment.yaml
        # Deploy REST API User
        - cat udacity-c3-restapi-user/k8s/configmap.yaml | sed "s/{{AWS_REGION}}/$AWS_REGION/g; s/{{AWS_PROFILE}}/$AWS_PROFILE/g; s/{{AWS_BUCKET}}/$AWS_BUCKET/g" | kubectl apply -f -
        - cat udacity-c3-restapi-user/k8s/secret.yaml | sed "s/{{POSTGRES_USERNAME}}/'$POSTGRES_USERNAME'/g; s/{{POSTGRES_PASSWORD}}/'$POSTGRES_PASSWORD'/g; s/{{POSTGRES_DB}}/'$POSTGRES_DB'/g; s/{{POSTGRES_HOST}}/'$POSTGRES_HOST'/g; s/{{AWS_ACCESS_KEY_ID}}/'$AWS_ACCESS_KEY_ID'/g; s#{{AWS_SECRET_ACCESS_KEY}}#'$AWS_SECRET_ACCESS_KEY'#g; s/{{JWT_SECRET}}/'$JWT_SECRET'/g" | kubectl apply -f -
        - kubectl apply -f udacity-c3-restapi-user/k8s/service.yaml
        - kubectl apply -f udacity-c3-restapi-user/k8s/deployment.yaml
