version: "3"
services:
  reverseproxy:
    build:
      context: reverse-proxy
    image: samuelmbas/reverseproxy
  backend_user:
    build:
      context: udacity-c3-restapi-user
    image: samuelmbas/udacity-restapi-user
  backend_feed:
    build:
      context: udacity-c3-restapi-feed
    image: samuelmbas/udacity-restapi-feed
  frontend:
    build:
      context: udacity-c3-frontend
    image: samuelmbas/udacity-frontend:local
