apiVersion: apps/v1
kind: Deployment
metadata:
  name: restapi-user
spec:
  selector:
    matchLabels:
      app: restapi-user
  template:
    metadata:
      labels:
        app: restapi-user
    spec:
      replicas: 2
      containers:
        - name: restapi-user
          image: samuelmbas/udacity-restapi-user
          resources:
            limits:
              memory: "128Mi"
              cpu: "250m"
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: restapi-user-configmap
            - secretRef:
                name: restapi-user-secret
