apiVersion: apps/v1
kind: Deployment
metadata:
  name: restapi-feed
spec:
  replicas: 2
  selector:
    matchLabels:
      app: restapi-feed

  template:
    metadata:
      labels:
        app: restapi-feed

    spec:
      containers:
        - name: restapi-feed

          image: samuelmbas/udacity-restapi-feed
          resources:
            limits:
              memory: "128Mi"
              cpu: "500m"
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: restapi-feed-configmap
            - secretRef:
                name: restapi-feed-secret
